body {
    background-color: #257999;
    color: #EA7AD0;
}

header strong {
    text-align: center;
}

nav {
    text-align: center;
    background-color: #09C5FD;
}

nav a {
    padding: 2%;
}

#bio {
    background-color: #7E56DA;
    color: #313030;
}

#vapor {
    color:#49D2BF;
}